name: check-mod
on:
  pull_request

permissions:
  contents: read

jobs:
  build:
    name: Check
    runs-on: ubuntu-latest
    steps:

      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: No replaced Go module
        run: |
          set +e
          grep 'replace github.com/vmware/go-vcloud-director' go.mod
          if [ "$?" -eq 0 ]; then echo "ERROR: Found a replaced go.mod. Remove the replacement before merging"; exit 1; else exit 0; fi
