name: check-mod
on:
  pull_request

permissions:
  contents: read

jobs:
  build:
    name: Check
    runs-on: ubuntu-latest
    steps:

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: No replaced Go module
        run: |
          set +e
          grep 'replace github.com/vmware/go-vcloud-director' go.mod
          if [ "$?" -eq 0 ]; then echo "ERROR: Found a replaced go.mod. Remove the replacement before merging"; exit 1; else exit 0; fi
