name: check-code
on:
  push:
    paths-ignore:
      - '**.md'
      - 'website/**'
  pull_request:
    paths-ignore:
      - '**.md'
      - 'website/**'

jobs:
  build:
    name: Check
    runs-on: ubuntu-latest
    env:
      GO111MODULE: on

    steps:

      - name: Checkout
        uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4.2.1

      - name: Setup Go
        uses: actions/setup-go@3041bf56c941b39c61721a86cd11f3bb1338122a # v5.2.0
        with:
          go-version-file: 'go.mod'

      - name: vet
        run: make vet

      - name: static
        run: make static

      - name: test
        run: make test

      - name: tags
        run: make tagverify

      - name: No VCD references
        run: |
          set +e
          grep --exclude-dir=.git -ERin "Director|VCD|ources\/tm|labelTm|vcd_tm" . | grep -Eiv "VCDClient|.log:|govcdClient|vcdClient|GOVCD_|govcd.|/director/|directory|github|go-vcloud-director|Directories|Version|VCDHREF|VCDToken"
          if [ "$?" -eq 0 ]; then echo "ERROR: Found some VCD references"; exit 1; else exit 0; fi
