---
name: golangci-lint

on:
  pull_request:
    paths:
      - '**/*.go'
  push:
    paths:
      - '**/*.go'
  schedule:
    - cron: 0 0 * * 0

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Setup Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: go.mod
          cache: true
      - name: Download Go Modules
        run: go mod download
      - name: Build
        run: go build -v .
      - name: Run Linters
        uses: golangci/golangci-lint-action@4afd733a84b1f43292c63897423277bb7f4313a9 # v8.0.0
        with:
          version: latest