---
name: golangci-lint

on:
  pull_request:
    paths:
      - '**/*.go'
  push:
    paths:
      - '**/*.go'
  schedule:
    - cron: 0 0 * * 0

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Setup Go
        uses: actions/setup-go@0aaccfd150d50ccaeb58ebd88d36e91967a5f35b # v5.4.0
        with:
          go-version-file: go.mod
          cache: true
      - name: Download Go Modules
        run: go mod download
      - name: Build
        run: go build -v .
      - name: Run Linters
        uses: golangci/golangci-lint-action@0a35821d5c230e903fcfe077583637dea1b27b47 # v9.0.0
        with:
          version: latest